@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



.brand1 {
    color: #F25E26
}

.brand2 {
    color: #FCDFD4
}

.brand3 {
    color: #6E6E6E
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #F25E26 !important;
}

.swiper-pagination-bullet {
    border: 1px solid white !important;
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px));
}

.swiper-button-next {
    color: #F25E26 !important;
    background: #FCDFD4;
    border-radius: 100%;
    width: 35px;
    height: auto;
    padding: 10px;

}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 15px;
}

.swiper-button-prev {
    border: 1px solid white;
    color: white;
    border-radius: 100%;
    width: 35px;
    height: auto;
    padding: 10px;
}

/* *{
    border:2px solid red;
} */